<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('setup') %>
  <link rel="stylesheet" href="/styles/landing-page.css">

  <title>Welcome - Barbie Card Shop</title>
</head>
<body>
  <%- include('navbar') %>
  <section>
    <!-- Isi Contentnya -->
      <div class="slider-container">
        <div class="slider">
              <img src="/assetsPhoto/1.png" alt="Image 1">
              <img src="/assetsPhoto/2.png" alt="Image 2">
              <img src="/assetsPhoto/3.png" alt="Image 3">
              <img src="/assetsPhoto/4.png" alt="Image 1">
              <img src="/assetsPhoto/5.png" alt="Image 2">
              <img src="/assetsPhoto/6.png" alt="Image 3">
        </div>
      </div>
  <button id="prev" class="arrow-button">&#9664;</button>
  <button id="next" class="arrow-button">&#9654;</button> 
  <br>
  <!-- STORY -->
  <div class="text-container">
    <h1 style="text-align: center;">UNIVERSE
    </h1>
    <br>
      <p class="storytext"> 
        class="storytext" style="text-align: center;">Rizky, the king of the Rambutan, heard the voices of the ancients.
        In order to bring the ancients into this world, he planned to open the Rift of Worlds and started a war.
        However, the war ended abruptly when he was sucked into the unstable rift.
      </p>
      <p class="storytext">
         With Rizky's disappearance, Rihzkil Kingdom seemed to regain peace.
         But one day, this precarious peace, riddled with the scars of war, began to crumble
         as rumors that Rizky had returned started to spread.
      </p>   
      <p class="storytext"> 
        The King of Rihzkil is looking for a Summoner to protect the kingdom against Rizky's enormous conspiracy.
        
        Your story of defending the kingdom as a Rihzkil Guard begins now.
      </p>
  </div>
  <!-- CARD -->
  <div class="text-container">
      <div class="breakline">
        <div class="card">
            <h2>Card 1</h2>
            <p>CERITA NYA KARTU OP .</p>
        </div>

        <div class="card">
            <h2>Card 2</h2>
            <p>CERITA NYA KARTU OP .</p>
        </div>

        <div class="card">
            <h2>Card 3</h2>
            <p>CERITA NYA KARTU OP .</p>
        </div>
      </div>
  </div>

  <!-- MAP -->
  <div class="text-container">
    <img src="/assetsPhoto/map.png" alt="MAP">
  </div>

  <div class="footer">
    <h1>FOOTER</h1>
    <p>THANKS</p>
  </div>


</section>


<script src="/script/slider.js"></script>
</body>
</html>