<link rel="stylesheet" href="/styles/navbar.css">
<nav>
  <div class="title"><a href="/">
    <div id="title">Berbie</div></a></div>
  <div class="menu">
    <ul>
      <li><a href="/shop" id="shop">SHOP</a></li>
      <li><a href="/tournament" id="tournament">TOURNAMENT</a></li>
    </ul>
  </div>
  <% if(!isLogin) { %>
    <div class="login">
      <ul>
        <li><a href="/login" id="login">LOGIN</a></li>
        <li><a href="/register" id="register">REGISTER</a></li>
      </ul>
    </div>
  <% } else { %>
    <div class="profile">
      <ul>
        <li><a href="/profile" id="profile">PROFILE</a></li>
        <li><a href="/logout" id="logout">LOGOUT</a></li>
      </ul>
    </div>
  <% } %>
</nav>