<link rel="stylesheet" href="/styles/navbar.css">
<nav>
  <div class="title"><a href="/">
    <div id="title">Barbie</div></a></div>
  <div class="menu">
    <ul>
      <li><a href="/shop">Shop</a></li>
      <li><a href="/tournament">Tournament</a></li>
    </ul>
  </div>
  <div class="login">
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </div>
</nav>