<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('setup') %>
  <title>Login - Barbie Card Shop</title>
</head>
<body>
  <%- include('navbar') %>
  <section>
    <!-- Isi Contentnya -->
    <form method="post">
      <input type="text" name="username">
      <input type="email" name="email">
      <input type="password" name="password">
      <input type="submit" value="Register">
    </form>
  </section>
</body>
</html>