<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('setup') %>
  <link rel="stylesheet" href="styles/shop.css">
  <title>Shop - Barbie Card Shop</title>
</head>
<body>
  <%- include('navbar', { isLogin }) %>
  <section id="content">
    <div class="shop-title">
      <h1>SHOP</h1>
      <% if(error) { %>
        <p>*<%= error %></p>
      <% } %>
    </div>
    <%- include('cards', { cards, shop: true }) %>
  </section>
</body>
</html>