<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('setup') %>
  <link rel="stylesheet" href="/styles/tournament.css">
  <title>Ready to Tournament!</title>
</head>
<body>
  <%- include('navbar', { isLogin: true }) %>
  <section id="content">
    <h3>COMING SOON!</h3>
  </section>
</body>
</html>