body {
  background-image: url('/images/background.png');
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

form > div {
  width: 100%;
}

input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--black);
}

#btn {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}

p {
  color: var(--red);
}