body{
    background-image: url('/assetsPhoto/Untitled\ design-2.png');
    background-size: cover;
    background-repeat: no-repeat;
}


/* SLIDERR BOSKU */
.slider-container {
    padding-top: 20px;
    position: relative;
    max-width: 1200px; 
    max-height: 1200px;
    margin: 0 auto; 
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s;
    position: relative; 
    width: 110%;
    height: auto;
}

.slider img {
    size: 1000px;
}

.arrow-button {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    opacity: 0.6;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}


.text-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

.divider {
    width: 50px;
    height: 3px;
    background-color: #333;
    margin: 10px auto;
}

.storytext {
    font-size: 16px;
    line-height: 1.5;
    margin: 15px 0;
}


