.loginIcon {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 80px;
    height: 80px;
    display: inline-block;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    background-image: url('/assetsPhoto/loginPhoto.png');  
    background-size: cover;  
}

.text-container {
    background-color: #c98cc9;
    padding: 20px;
    border-radius: 30% 30%;
    text-align: center;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

body{
    background-image: url('/assetsPhoto/Untitled\ design-3.png');
    background-size: cover;
    background-repeat: no-repeat;
}