nav, nav .menu li a, nav ul {
  display: flex;
}

nav, nav .menu li a {
  align-items: center;
}

nav, nav ul {
  gap: 10px;
}

nav {
  justify-content: space-around;
  background-color: var(--secondary);
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 999;
}

nav + section {
  padding: 70px 20px;
}

#title {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  transition: 0.4s ease;
  color: var(--white);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#title:hover {
  color: var(--primary);
  text-shadow: none;
  transform: scale(1.1);
}

nav a {
  color: var(--white);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.menu, .menu ul, .menu a {
  height: 100%;
}

.menu a {
  position: relative;
}

.menu a::after {
  content: "";
  width: 100%;
  height: 3px;
  bottom: 3px;
  left: 0;
  position: absolute;
  border-radius: 10px;
  background-color: var(--primary);
  transition: 0.4s;
  transform: scaleX(0);
}

.menu a:hover::after {
  transform: scaleX(1);
}

.login a, .profile a {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.4s;
}

.login a:hover, .profile a:hover {
  text-shadow: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.login a:hover, .profile #profile:hover {
  background-color: var(--white);
  color: var(--secondary);
}

.profile #logout:hover {
  background-color: var(--red);
}