:root {
  --primary: #332e31;
  --secondary: #1d191d;
  --black: #ffffff;
  --white: #F1EFE5;
  --red: #DB1818;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}