:root {
  --primary: #657ef8;
  --secondary: #0c0f1d;
  --black: #010101;
  --white: #cecfd1;
  --red: #ff5d6c;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}