.shop-title {
  margin-bottom: 10px;
}

.shop-title p {
  color: var(--red);
}

.buy-btn {
  background-color: var(--secondary);
  text-align: center;
  padding: 5px;
  color: white;
  position: relative;
  transition: 1.5s;
}

.buy-btn:hover {
  background-color: transparent;
}

.buy-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  top: 0;
  left: 0;
  position: absolute;
  transition: 0.4s;
  z-index: -1;
  background-color: var(--primary);
}

.buy-btn:hover::after {
  transform: scaleX(1);
}