.card-available {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
}
.card img {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

#content h1 {
  margin-bottom: 10px;
}

.buy-btn {
  background-color: var(--secondary);
  text-align: center;
  padding: 5px;
  color: white;
  position: relative;
  transition: 1.5s;
}

.buy-btn:hover {
  background-color: transparent;
}

.buy-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  top: 0;
  left: 0;
  position: absolute;
  transition: 0.4s;
  z-index: -1;
  background-color: var(--primary);
}

.buy-btn:hover::after {
  transform: scaleX(1);
}